/**
 * @Author: Joshua Asare <joshuaasare>
 * @Date:   2019-08-21 21:59:49
 * @Last modified by:   joshuaasare
 * @Last modified time: 2019-09-05 15:49:29
 */

.generic-button {
  cursor: pointer;
}

.generic-button > span {
  text-align: center;
  display: inline-block;
}

.generic-button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.generic-button:active {
  cursor: pointer;
  transform: translateY(0);
}

/*BIG DESKTOP*/
@media (max-width: 112.5em) {
}

/*TAB LANDSCAPE*/
@media (max-width: 75em) {
}
/*TAB PORTRAIT*/
@media (max-width: 56.25em) {
}

/*PHONE*/
@media (max-width: 37.5em) {
  .generic-button:hover {
    transform: translateY(0);
    box-shadow: none;
  }

  .generic-button:active {
    cursor: pointer;
    transform: translateY(0);
  }
}
